@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
// @include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
// @include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-progress-element;
@include foundation-progress-element;
@include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;
// @include foundation-prototype-classes;

// @include motion-ui-transitions;
// @include motion-ui-animations;


body {
	transition: all 0.75s ease;
}

h1,h2,h3,h4,h5,h6 {
	color: $primary-color;
	line-height: 1.2;
}
h1+h2 {
	margin-top: rem-calc(-25);
}
.mmm-burger {
	margin-right: rem-calc(30);
	position: relative;
	z-index:10;
}
.small-collapse.column {
	padding:0;
}
.reverse {
	padding: rem-calc(30) 0;
	background: $primary-color;
	color: $white;
	a:hover {
		color: $warning-color;
	}
	a,h1,h2,h3,h4,h5,h6,.close-button {
		color: $white;
	}
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p,
.content figure {
	max-width: 1000px;
	display: block;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: rem-calc(30);
}
.content .listings h1,
.content .listings h2,
.content .listings h3,
.content .listings h4,
.content .listings h5,
.content .listings h6,
.content .listings p,
.content .listings figure {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right:auto;
}


.white.button {
	background-color:$white;
	color:$primary-color;
}
.white.button:hover {
	background-color:rgba($white,.5);
	color: $white;
}
.video-link {
	position: relative;
	display: block;
	color: $white;
	&:hover {
		color: $warning-color;
	}
}
.play-button {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.caption {
	padding: rem-calc(10) 0 rem-calc(40);
	color: $dark-gray;
}
.button {
	font-weight: bold;
	font-size: rem-calc(18);
	border-radius: rem-calc(100);
}
.button.hollow:hover {
	border-color: $primary-color;
	background-color: $primary-color;
	color: $white;
}
.button-group .button {
	border-radius: 0;
}
.filter {
	margin-bottom: rem-calc(15);
}
.menu .active>a {
	border-radius: 100em;
}
.pad-top {
	padding-top: rem-calc(30);
}
.pad-bottom {
	padding-bottom: rem-calc(30);
}
.pad-both {
	padding-top:rem-calc(30);
	padding-bottom:rem-calc(30);	
}
div.expanded.row.reverse {
	background-position: center center;
	background-size: cover;
}
.footer-img {
	margin-bottom: rem-calc(15);
}
.shadow {
    -webkit-filter: drop-shadow( 3px 3px 10px rgba(0,0,0,.7) );
            filter: drop-shadow( 3px 3px 10px rgba(0,0,0,.7) );
}
.rel {
	position:relative;
}
.cta {
	background: $primary-color-dark;
	color: $white;
	h2,h3 {
		color: $warning-color;
		padding-top: rem-calc(30);
	}
	.button {
		background-color: $white;
		color: $primary-color-dark;
		margin-right: rem-calc(20);
		&:hover {
			background: $warning-color;
		}
	}
}
.kit {
	position:relative;
	text-indent: 90px;
}
.kit img {
	max-width: 75px;
	position: absolute;
	top:-35px;
	left:20px;
    transform: rotate(7deg);
    box-shadow: 3px 3px 10px rgba(0,0,0,.4);
}
.kit:hover img {
   	transform: rotate(0deg);
}
.kit-cover {
	margin-top: -20px;
    transform: rotate(7deg);
    box-shadow: 3px 3px 10px rgba(0,0,0,.4);
}
.cta-text {
	position:relative;
	top: 50%;
	transform: translateY(-60%);
	h2 {
		font-size: rem-calc(36);
	}
}
.featured { 
	text-transform: uppercase;
	color:$dark-gray;
	letter-spacing:.1em;
	display:block;
}
.mapbox {
	margin: rem-calc(20) 0;
}
.bubble h4 {
	margin-bottom: rem-calc(2);
	font-size: .85rem;
}
.bubble p {
	font-size: .75rem;
	margin-bottom: 0;
}
.bubble-right {
	padding-left: 2rem;
}
.smartmap-mapcanvas {
	width: 100% !important;
	height: 100% !important;
	position: absolute !important;
	top:0;
	left:0;
}
.gm-style img.logo,
.smartmap-mapcanvas img.logo
 {
	max-width: 100%;
}
@media screen and (max-width: 39.9375em) {
	.kit-cover {
		max-width: 100px;
		margin: -20px auto 0;
	}
	.cta-text h2 {
		font-size: rem-calc(24);
	}
}

.cta:hover .kit-cover {
	transform: rotate(-7deg);
}
.kit.button {
	padding-right: 2em;
}
.header {
	position:relative;
	/* z-index:2; */
}
.row.collapse>.columns.cover-wrap {
	padding: 0 rem-calc(30);
}
.form-container {
	position:relative;
	z-index:2;
}
.kit-cover-inset {
    box-shadow: 3px 3px 10px rgba(0,0,0,.4);
	margin: rem-calc(30) 0;
}
label { 
	text-transform: uppercase; 
	span {
		color: $alert-color;
		font-weight:bold;
	}
}
.required {
	color:$alert-color;
	font-weight:bold;
}

.reveal {
	border:none;
}

.kit-cta img {
    transform: rotate(-7deg);
    box-shadow: 3px 3px 3px rgba(0,0,0,.4);
}
.kit-cta .button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.sponsors { 
	padding-bottom: rem-calc(30);
	h3 {
		color: $white;
		font-size: rem-calc(24);
		margin-top: rem-calc(15);
		margin-bottom: rem-calc(30);
	}
}
@media screen and (max-width: 63.9375em) {
	.cta-text { 
		border-right:none; 
	}
	.sponsors {
		border-top: 1px solid $white;
	}
}

.reveal .vertical.menu {
	border-top: 1px solid rgba($white,.4);
	li {
		border-bottom: 1px solid rgba($white,.4);
	}
}
.reveal .vertical.menu a {
	font-size: rem-calc(48);
	margin: rem-calc(40) 0;
}
.menu-centered {
	position:relative;
	top: 50%;
	transform: translateY(-60%);
}
.social {
	fill: $white;
}
.social:hover {
	transform: scale(1.2);
}
.video p.caption {
	text-align: center;
	margin-top: rem-calc(-15);
}
// Listings
.listings {
	padding-bottom: rem-calc(40);
	.column-block {
		margin-bottom:0;
	}
}
.listing { 
	padding: rem-calc(10); 
	h2 {
		font-size: rem-calc(22);
		margin-bottom: 0;
	}
	.dates { 
		margin-bottom: rem-calc(5);
	}
	.address {
		font-style: italic;
	}
}

.media-box {
	border: 1px solid $light-gray;
	p,h1,h2,h3 {
		padding: 0 rem-calc(20);
	}
}
.small-toggle {
	display: none;
}
@media screen and (min-width: 40em) {
.small-toggle {
	display: inline;
	}	
}

.member-image {
	margin-bottom: rem-calc(20);
}
.media-box .member-image img {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.media-box:hover .member-image img {
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);	
}
.media-box figure {
	overflow: hidden;
}
h3.member-name {
	margin-bottom: rem-calc(5);
}
p.address, 
p.phone {
	margin-bottom: 0;
	line-height: 1.3;
}
.required {
	color: inherit;
	font-weight:normal;
}
.required label:after {
   content: "*";
   display: inline;
   font-weight:bold;
   color: $alert-color;
}
.form-error {
	color: $alert-color;
}
label {
	text-transform: none;
	margin: 0 rem-calc(30) 0 0; 
	display:inline-block;
}
.alert {
	color: $alert-color;
}
input,
textarea {
	width: 100%;
	margin: rem-calc(5) 0;
	border-style:solid;
	border-width: 1px;
	border-color: $medium-gray;
}
input[type='radio'] {
	width: auto;
}
.submit input {
	width: auto;
	@include button();
}
.sidebar .adventureKit {
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}
.input {
	margin-bottom: rem-calc(9);
}

.large-up-4>.column:nth-of-type(4n+1), 
.large-up-4>.columns:nth-of-type(4n+1) {
	clear: none;
}
.medium-up-2>.column:nth-of-type(2n+1), 
.medium-up-2>.columns:nth-of-type(2n+1) {
	clear:none;
}

// Jquery UI

div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.YouTubeDialog
{
	width: 90% !important;
	height: auto!important;
	left: 5%;
}
div#ui-id-1.ui-dialog-content.ui-widget-content {
	min-height: 20px !important;
}
.ui-widget-header {
	border:none;
	background: $white;
	color: $primary-color;
	font-weight: normal;
}
.ui-widget-overlay {
	background: $black;
}

.il-logo,
.bi-logo {
	vertical-align: middle;
	margin: rem-calc(30);
}