@import 'util/unit';

body {
	background: #f15a29 url(../assets/images/spooks-bg-purple-tile.jpg) repeat-y;
	background-size: 100% auto;
	background-attachment: fixed;
	color:#e6daa6;
}
a {
	color: #f7941d;
}
a:hover {
	color: #ffd400;
}
a.button.hollow {
	color: #cbdb2a;
	border-color: #cbdb2a;
}
a.button.hollow:hover {
	color: #3e234e;
	background: #cbdb2a;
	border-color: #cbdb2a;
}
.menu .active>a {
	background: #f7941d;
}
.bubble {
	color: #000;
	a { 
		color:#0094d6;
	}
}
.hero {
	position:relative;
	z-index:2;
	margin-top: rem-calc(-10);
	margin-bottom: rem-calc(100);
	background: #f15a29 url(../assets/images/spooks-tile.png);
}
.hero img {
	margin: rem-calc(-100) auto;
	max-width: rem-calc(350);
	display:block;
	position:relative;
	z-index:10;
}
@media screen and (min-width: 40em) {
	.hero img {
		max-width: rem-calc(500);
	}
}

.row.hero {
	max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
	color: #cbdb2a;
}
.content h3 {
	margin-bottom: rem-calc(15);
	font-weight: bold;
	a {
		color: #cbdb2a;
		&:hover {
			color: #f7941d;
		}
	}
}
h3.tile-header {
	text-shadow: 0 0 10px #000000;
}

h2.subhead {
	text-align: center;
	text-transform:uppercase;
	font-weight: bold;
	font-size: rem-calc(48);
}
h2.subhead:before,
h2.subhead:after  {
   content:url(../assets/images/spooks-bat.svg);
    display: inline-block;
    width: rem-calc(50);
    height: rem-calc(32);
    margin: 0 rem-calc(10);
}
.cta {
	background: #f15a29 url(../assets/images/spooks-tile.png);
	h2 {
		color: #3e234e;
	}
}
.cta .button {
	color: #3e234e;
	&:hover {
		background: #3e234e;
		color: #ffd400;
	}
}
.cta:before,
.cta:after,
.hero:before,
.hero:after {
	content:"";
	width:100%;
	height: 20px;
	background: transparent url(../assets/images/spooks-border.png) repeat-x;
	display: inline-block;
	position:relative;
	z-index:1;
}
.cta:before,
.hero:before {
	top: -10px;
}
.cta:after,
.hero:after {
	bottom: -15px;
}
.kit-cover {
	position:relative;
	z-index:10;
}
.media-box {
	background: rgba(255,255,255,.05);
}
.media-box h3 { 
	font-weight: bold;
}

.reverse { 
	background: #f15a29 url(../assets/images/spooks-bg-purple-tile.jpg) repeat-y;
	background-size: 100% auto;
}
.hero .play-button {
	z-index: 10;
	top: 44%;
	left: 48%;
	-webkit-animation: stretch 1.5s infinite alternate;
	-moz-animation:    stretch 1.5s infinite alternate;
	-o-animation:      stretch 1.5s infinite alternate;
	animation:         stretch 1.5s infinite alternate;
}
.hero:hover .play-button {
	color: #3e234e;
}

.tile-header.header-1,
.tile-header.header-3 {
	margin-bottom: -35px;
}

.tile-wrap {
	padding: 15px;
	.inner-tile {
		position: relative;
		h3 {
			text-align: center;
		}
		img {
			cursor: pointer;
				&:hover {
					transform: rotatey(10deg) rotatex(10deg);
					transform: rotate(5deg);
					}			
		}
		.tile-cta {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			background-color: #cbdb2a;
		}

	}

	}

	@media screen and (min-width: 40em) {

.tile-header.header-1,
.tile-header.header-3 {
	margin-bottom: 15px;
}

.tile-wrap {
	background: url('../assets/images/uploads/haunted-header.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 15px;
	}
		.inner-tile {
			padding: 0;
			img {
				&:hover {
					transform: rotatey(20deg) rotatex(20deg);
					transform: rotate(10deg);	
			}
			.tile-cta {
				position: absolute;
				right: 25px;
			}
		}

	}


}

@-webkit-keyframes stretch {
	0% { transform: scale(.5); }
	100% { transform: scale(1.5); }
}
@-moz-keyframes stretch {
	0% { transform: scale(.5); }
	100% { transform: scale(1.5); }
}
@-o-keyframes stretch {
	0% { transform: scale(.5); }
	100% { transform: scale(1.5); }
}
@keyframes stretch {
	0% { transform: scale(.5); }
	100% { transform: scale(1.5); }
}
@keyframes tileMove {
	0% { transform: rotatey(-10deg); }
	50% { transform: rotatey(0deg); }
	100% { transform: rotatey(20deg);; }
}

.menu.categories .btn {
	font-size: rem-calc(18);
	font-weight: bold;
}

.menu.categories .menu-text {
	margin: 5px 10px 0 0;
	background: url('../assets/images/filter.png');
	text-indent: -999em;
	width: 80px;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

    }