<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="home" href="//{{ craft.request.serverName }}{{ craft.request.getPort != 80 ? ':' ~ craft.request.getPort : '' }}">
    
  {# SEO Start #}
  {% if seo is not defined %}
    {% if entry.title is defined %}
      {% set seo = craft.seo.custom(entry.title, '', true) %}
    {% elseif seotitle is defined %}
      {% set seo = craft.seo.custom(seotitle, '', true) %}
    {% else %}
        {% set seo = craft.seo.custom('Kenneth Young Center', '', false) %}
      {% endif %}
  {% endif %}

  <title>{{ seo.title }}</title>
  <meta name="description" content="{{ seo.description }}" />

  <meta property='og:title' content='{{ seo.title }}' />
  <meta property='og:url' content='{{ craft.request.url }}' />
  <meta property='og:site_name' content='{{ siteName }}' />
  <meta property='og:description' content='{{ seo.description }}' />

  <meta property='twitter:site' content='{# Your Twitter Handle (no @) #}' />
  <meta property='twitter:title' content='{{ seo.title }}' />
  <meta property='twitter:description' content='{{ seo.description }}' />
  <meta property='twitter:url' content='{{ craft.request.url }}' />

  <link rel="home" href="{{ siteUrl }}" />
  <link rel="canonical" href="{{ craft.request.url }}">
  {# SEO End #}

    <link rel="stylesheet" href="css/app.css">
    {% if entry.customCss %}
      <link rel="stylesheet" href="css/{{ entry.slug }}.css">
    {% endif %}
    <script src="https://use.fontawesome.com/7b818b571a.js"></script>
  
  </head>
  <body>

<!-- Header -->

    {% set background = entry.headerBackgroundImage.first() %}

    <div class="header"  data-equalizer data-equalize-on="small">
      <div class="expanded row reverse"  {% if background|length %}style="background-image: url({{ background.getUrl('medium') }});{% endif %}">
        <div class="small-3 columns" data-equalizer-watch>
          <a href="http://visitlakecounty.org"><img class="logo-lc heavyweight large-7 shadow" src="assets/images/logo-lc.svg" alt="Vsit Lake Conty, Illinois"></a>
        </div>

        <div class="small-6 columns text-center" data-equalizer-watch>
          {% set logo = entry.pageLogo.first() %}
          {% if logo|length %}
            <h1><a href="/summer/"><img class="medium-6 large-4 shadow " src="{{ logo.getUrl }}" alt="The Lake County Libation Trail"></a></h1>
          {% endif %}
        </div>
        <div class="small-3 columns text-right" data-equalizer-watch>
          <a class="mmm-burger shadow" data-open="nav"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

<!-- Navigation -->    
    <div class="full reveal reverse" id="nav" data-reveal>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="menu-centered">
        <ul class="vertical menu">
          <li><a href="http://visitlakecounty.org">Visit Lake County</a></li>
          <li><a href="request.cfm">Get your <em>Adventure Kit</em></a></li>
          <li><a href="http://www.visitlakecounty.org/Events">What's happening next weekend?</a></li>
        </ul>
      </div>
    </div>


    {% block content %}
    {% endblock %}



<!-- Footer -->
  <div class="reverse">

    {% block footer %}
    {% endblock %}


<!-- Footer -->
    <div class="row pad-top">
      <div class="small-8 medium-5 large-3 small-centered comlumns">
        <div class="row small-up-5">
          <div class="column column-block">
            <a href="https://www.facebook.com/VisitLakeCounty"><img class="social" src="assets/images/icon-fb.svg"></a>
          </div>
          <div class="column column-block">
            <a href="https://twitter.com/VisitLakeCounty"><img class="social" src="assets/images/icon-t.svg"></a>
          </div>
          <div class="column column-block">
            <a href="http://www.youtube.com/user/visitlakecounty"><img class="social" src="assets/images/icon-yt.svg"></a>
          </div>
          <div class="column column-block">
            <a href="http://instagram.com/visitlakecounty"><img class="social" src="assets/images/icon-ig.svg"></a>
          </div>
          <div class="column column-block">
            <a href="http://www.tripadvisor.com/Tourism-g3494525-Lake_County_Illinois-Vacations.html"><img class="social" src="assets/images/icon-ta.svg"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row columns text-center">
      <p><a href="tel:+18005853669">800-LAKE-NOW</a> | <a href="http://visitlakecounty.org">VisitLakeCounty.org</a></p>
      <a href="https://enjoyillinois.com"><img class="il-logo small-3 medium-2 large-1" src="assets/images/logo-iot.svg" /></a>
    </div>
  </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/what-input/dist/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="js/app.js"></script>

<script>
var selector = '.categories li.btn';

$(selector).on('click', function(){
    $(selector).removeClass('active');
    $(this).addClass('active');
});
</script>

<script type='text/javascript'>
var $btns = $('.filter').click(function() {
  if (this.id == 'all') {
    $('#listings > div').fadeIn(450);
  } else {
    var $el = $('.' + this.id).fadeIn(450);
    $('#listings > div').not($el).hide();
  }
  $btns.removeClass('active');
  $(this).addClass('active');
})
</script>


  </body>
</html>
