{#
 # Homepage template
 # ---------------
 #}

{% extends "_layout" %}

{% block content %}
  {% set hero = entry.heroImage.first() %}
    {% if hero|length %}
      <div class="row section hero">
        <img src="{{ hero.getUrl }}" >
      </div>
    {% endif %}


	<div class="row content section">
		<div class="small-12 columns pad-top pad-bottom">
			{% if entry.headline|length%}
				<h1>{{entry.headline|typogrify}}</h1>
			{% endif %}
			{% for block in entry.pageBuilder %}
				{% include "blocks/" ~ block.type ignore missing %}
			{% endfor %}


      </div>
    </div>

<!-- CTA -->
    <div class="cta">
      <div class="row">
        <div class="medium-8 medium-centered columns">
          <div class="row" data-equalizer data-equalize-on="small">
            <div class="small-4 columns rel" data-equalizer-watch>
              <img class="kit-cover float-center" src="assets/images/adventure-kit.jpg" />
            </div>
            <div class="small-8 columns text-center medium-text-left end" data-equalizer-watch>
              <div class="cta-text">
                <h2>Get your Lake&nbsp;County,&nbsp;Illinois <i>Adventure&nbsp;Kit</i>&nbsp;Now</h2>
                <a class="button" href="request.cfm">Request a Kit</a>
                <a class="button" href="online.html">View Online</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



{% endblock %}

{% block footer %}
  {% if entry.embed|length %}
<!-- Instagram -->
    <div class="row columns small-collapse">
      {{ entry.embed|raw }}
    </div>
  {% endif %}
{% endblock %}