{#
 # Form Page Template
 # ---------------
 #}

{% extends "_layout" %}

{% block content %}

	<div class="row content pad-both section">
		<div class="medium-4 columns sidebar">
			{% for block in entry.sidebar %}
				{% include "blocks/" ~ block.type ignore missing %}
			{% endfor %}
		</div>
		<div class="medium-6 medium-push-1 end columns">
			{% if entry.headline|length%}
				<h1>{{entry.headline|typogrify}}</h1>
			{% endif %}
			{{ entry.introCopy|typogrify }}


<div class="k4Cfrm-wrapper k4Cfrm-wrapper-top2bottom">{{ k4ClientFormHandler(entry.form) | raw }}</div>
{% includeJsFile "/js/form-validator/jquery.form-validator.js"%}
{% set formJs%}
    $("input[required]").attr("data-validation","required").removeAttr("required");
    $("textarea[required]").attr("data-validation","required").removeAttr("required");
    $.validate({
        lang : '{{ craft.locale }}'
    });
{% endset %}
{% includeJs formJs %}


      </div>
    </div>

{% endblock %}

