{#
 # Landing Page template
 # ---------------
 #}

{% set customCss = entry.customCss %}
{% set background = entry.headerBackgroundImage.first() %}
{% set logo = entry.pageLogo.first() %}


{% extends "_layout" %}

{% block content %}

  {% for block in entry.heroImage %}
    <div class="row section hero">
    {% if block.type == "image" %}
      {% set hero = block.image.first() %}
      {% if hero|length %}
          <img src="{{ hero.getUrl }}" >
      {% endif %}
    {% elseif block.type == "video" %}

      {% set thumb = block.customImage.first() %}
      {% if thumb %}
        <a class="video-link youtube" href="{{ block.video }}?rel=0&amp;showinfo=0">
          <img src="{{ thumb.getUrl('medium') }}"/>
          <p class="play-button text-center"><i class="fa fa-play-circle-o fa-5x" aria-hidden="true"></i></p>
        </a>
      {% else %}
        <div class="responsive-embed widescreen">       
          {{ craft.embedder.embed (block.video, {max_width:1440, max_height:900, youtube_rel:'0', youtube_showinfo:'0'}) }}     
        </div>
      {% endif %}
    {% endif %}
    </div>
  {% endfor %}


	<div class="row content section">
		<div class="small-12 columns pad-top pad-bottom">
			{% if entry.headline|length%}
				<h1>{{entry.headline|typogrify}}</h1>
			{% endif %}
			{% for block in entry.pageBuilder %}
				{% include "blocks/" ~ block.type ignore missing %}
			{% endfor %}
      </div>
    </div>

{% if entry.showCta == "1" %}
<!-- CTA -->
    <div class="cta">
      <div class="row">
        <div class="medium-8 medium-centered columns">
          <div class="row" data-equalizer data-equalize-on="small">
            <div class="small-3 medium-4 columns rel" data-equalizer-watch>
              {% set image = cta.ctaImage.first() %}
              {% if image %}            
                <img class="kit-cover float-center" src="{{ image.getUrl }}" alt="{{ image.title }}">
              {% endif %}
            </div>
            <div class="small-9 medium-8 columns text-center medium-text-left end" data-equalizer-watch>
              <div class="cta-text">
                <h2>{{ cta.ctaHeadline|raw }}</h2>
                {% for link in cta.ctaButtons %} 
                {% set attributes = { target: link.linkUrl.target, class: 'button' } %}
                  {{ link.linkUrl.htmlLink(attributes) }}
                {% endfor%}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endif %}

{% endblock %}

{% block footer %}
  {% set image = entry.footerImage.first() %}
  
  {% if image or entry.footerCopy|length %}
    <div class="row">
      <div class="medium-10 medium-centered columns text-center">
        {% if image %}
          <img class="footer-img" src="{{ image.getUrl('large') }}"/>
        {% endif %}
        {{ entry.footerCopy|typogrify }}
      </div>
    </div>
  {% endif %}

  {% if entry.embed|length %}
  
<!-- Instagram -->
    <div class="row columns small-collapse">
      {{ entry.embed|raw }}
    </div>
  {% endif %}
{% endblock %}