
<div class="bubble">
	<div class="row">
		<div class="small-12 columns">
			<h4>{{ element.title }}</h4>
			<p>{{ element.address.street1 }}<br />
				{% if element.address.street2|length %}
					{{ element.address.street2 }}<br />
				{% endif %}
				{{ element.address.city }}, {{ element.address.state }} {{ element.address.zip }}<br />
				{% for row in element.phone %}
					{{ row.number }}<br />
				{% endfor %}
				<a href="{{ element.website }}">Visit Website</a>
				<a class="bubble-right" href="{{ element.address.directionsUrl }}" target="_blank">Get Directions</a>				
		 	</p>		
		</div>
	</div> 

</div>