{#
/**
 * k4 Clientform plugin for Craft CMS
 *
 * k4 Clientform Settings.twig
 *
 * @author    Thomas Bauer, kreisvier communications ag
 * @copyright Copyright (c) 2016 Thomas Bauer, kreisvier communications ag
 * @link      http://www.kreisvier.ch
 * @package   K4Clientform
 * @since     0.9
 */
#}

{% import "_includes/forms" as forms %}

{% includeCssResource "k4clientform/css/K4Clientform_Style.css" %}
{% includeJsResource "k4clientform/js/K4Clientform_Script.js" %}


<div id="eMailSender-field" class="field">
<div class="heading">
<label for="eMailSender">Default E-Mail sender address</label>
<div class="instructions"><p></p></div>
</div>

<div class="input ltr">
{{ forms.textField({  
id: 'eMailSender',
name: 'eMailSender', 
value: settings['eMailSender']})
}}         
</div>
</div>

<div id="eMailRecipient-field" class="field">
<div class="heading">
<label for="eMailRecipient">Default E-Mail recipient address</label>
<div class="instructions"><p></p></div>
</div>

<div class="input ltr">
{{ forms.textField({
id: 'eMailRecipient',
name: 'eMailRecipient', 
value: settings['eMailRecipient']})
}}        
</div>
</div>

<div id="eMailBcc-field" class="field">
<div class="heading">
<label for="eMailBcc">Default E-Mail BCC recipient.</label>
<div class="instructions"><p></p></div>   
</div>
<div class="input ltr">
{{ forms.textField({
id: 'eMailBcc',
name: 'eMailBcc', 
value: settings['eMailBcc']})
}}        
</div>
</div>

<div id="eMailSubject-field" class="field">
<div class="heading">
<label for="eMailSubject">Default E-Mail subject</label>
<div class="instructions"><p></p></div>
</div>
<div class="input ltr">
{{ forms.textField({
id: 'eMailSubject',
name: 'eMailSubject', 
value: settings['eMailSubject']})
}}      
</div>
</div>

<div id="eMailSubject-field" class="field">
<div class="heading">
<label for="eMailSubject">Honey Pot field name</label>
<div class="instructions"><p></p></div>
</div>
<div class="input ltr">
{{ forms.textField({
id: 'eMailHoneyPot',
name: 'eMailHoneyPot', 
value: settings['eMailHoneyPot']})
}}
</div>
</div>

<div id="settings-eMailErrorMsg-field" class="field">
<div class="heading">    
<label for="settings-eMailErrorMsg">Message after form submit on errors</label>
<div class="instructions"><p></p>
</div>
</div>
<div class="input ltr">

{{ forms.textArea({
label: 'eMailErrorMsg',
rows: 8,
instructions: 'Enter some setting here.',
id: 'eMailErrorMsg',
name: 'eMailErrorMsg', 
value: settings['eMailErrorMsg']})
}}


</div>
</div>

<div id="settings-eMailSuccessMsg-field" class="field">
<div class="heading">
<label for="settings-eMailTemplate">Message after form submit on success</label>
<div class="instructions"><p></p>
</div>
</div>
<div class="input ltr">

{{ forms.textArea({
label: 'eMailSuccessMsg',
rows: 8,
instructions: 'Enter some setting here.',
id: 'eMailSuccessMsg',
name: 'eMailSuccessMsg', 
value: settings['eMailSuccessMsg']})
}}


</div>
</div>