<div class="bubble">
	{% set logo = element.logo.first() %}
	{% if logo|length %}
		<img class="float-right logo" src="{{ logo.getUrl }}" style="max-width:30%" />
	{% endif %}
	<h4>{{ element.title }}</h4>
	<p>{{ element.address.street1 }}<br />
		{% if element.address.street2|length %}
			{{ element.address.street2 }}<br />
		{% endif %}
		{{ element.address.city }}, {{ element.address.state }} {{ element.address.zip }}<br />
		{% for row in element.phone %}
			{{ row.number }}<br />
		{% endfor %}
		<a href="{{ element.website }}">Visit Website</a>
 	</p>



</div>