<div class="row columns text-center pad-both">
	{% for row in block.buttons %}
		{% set attributes = {
		    target: row.button.target,
		    class: 'button centered'
		} %}
		{{ row.button.htmlLink(attributes) }}
	{% endfor %}
</div>