

{% if block.video|length =="2"%}
	{% set colWidth = "medium-6" %}
{% elseif block.video|length == "3"%}
	{% set colWidth = "medium-4" %}
{% else %}
	{% set colWidth = "medium-12" %}
{% endif %}

<div class="row">
	{% for row in block.video %}
	{% set thumb = row.customImage.first() %}

	<div class="{{ colWidth }} columns">
		{% if row.videoUrl|length %}
			<div class="responsive-embed widescreen">
				{% set video = craft.embedder.url(row.videoUrl, {max_width:1440, max_height:800, youtube_rel:'0', youtube_showinfo:'0'}) %} 

				{% if block.video|length == "1"%}
					{% if thumb %}
						<a class="video-link youtube" href="{{ row.videoUrl }}?rel=0&amp;showinfo=0">
							<img src="{{ thumb.getUrl('medium') }}"/>
							<p class="play-button text-center"><i class="fa fa-play-circle-o fa-5x" aria-hidden="true"></i></p>
						</a>
					{% else %}	
						{{ video.embed_code }} 
					{% endif %}
				{% else %}
					<a class="video-link youtube" href="{{ row.videoUrl }}?rel=0&amp;showinfo=0">
						{% if thumb %}
							<img src="{{ thumb.getUrl('medium') }}"/>
						{% else %}
							<img src="{{ video.video_highres }}">
						{% endif %}
						<p class="play-button text-center"><i class="fa fa-play-circle-o fa-5x" aria-hidden="true"></i></p>
					</a>
				{% endif %}
			</div>
		{% endif %}
		{{ row.videoCaption|typogrify }}
	</div>
	{% endfor %}
</div>





