{% set image = block.image.first() %}

<figure class="inset-image" style="max-width:{{ image.getWidth }}px;">
  {% if image %}            
    <img class="{{ image.title|camel }}" src="{{ image.getUrl }}" width="{{ image.getWidth }}" height="{{ image.getHeight }}" alt="{{ image.title }}">
  {% endif %}
  {% if block.caption|length %}            
    <figcaption class="caption">
      {{ block.caption }}
    </figcaption>
  {% endif %}
</figure>
