{% set locations = [] %}
{% set categories = [] %}
{# loop through all relationship fields for this entry #}
{% for block in entry.featuredMembers %}
  {# loop through related entries #}
  {% for member in block.members %}
    {# add member to members array #}
    {% set locations = locations|merge([member]) %}
  {% endfor %}
{% endfor %}

{% set options = {
    height: 1000,
    zoom: 10,
    'markerInfo': 'includes/mapBubble',
    infoWindowOptions: {
        maxWidth: 350
    },
	
	mapTypeControl: false,
	fullscreenControl: false,
	streetViewControl: false,
    markerOptions: {
        scaledSize: 'new google.maps.Size(50,50)',
        anchor: 'new google.maps.Point(25,50)',
    },
} %}


<div class="responsive-embed widescreen mapbox">
	{{ craft.smartMap.map(locations, options) }}




	{% for location in locations %}
		{% set listing = entry.featuredMembers.relatedTo(location).first() %}
		{% if location.customMapMarker|length and listing.useCustomIcon == '1' %}
			{% set icon = location.customMapMarker.first().getUrl %}
		{% else %}
		    {% set memberCategory = listing.categoryName %}
		    {% switch memberCategory %}
		    	{% case listing.categoryName %}
		    		{% set image = listing.mapIcon.first() %}
		    		{% if image|length %}
			    	    {% set icon = image.geturl %}
			    	{% else %}
			    		{% set icon = '/assets/images/uploads/icons/icon-marker.png' %}
			    	{% endif %}
		    	{% default %}
		    		{% set icon = '/assets/images/uploads/icons/icon-marker.png' %}
			{% endswitch %}
		{% endif %}
	    {# JS: Change marker icon #}
	    {% includejs %}
	        var markerId = 'smartmap-mapcanvas-1.{{ location.id }}.address';
	        smartMap.marker[markerId].setOptions({'icon': '{{ icon }}'});
		{#	smartMap.map['smartmap-mapcanvas-1'].setOptions({disableDefaultUI: true}); #}
	    {% endincludejs %}
	{% endfor %}




</div>
