{# Listing Filter #}
{% if entry.featuredMembers|length > 1 %}
	<div class="row filter">
	  <div class="small-12 columns">
	    <ul class="menu categories">
	      <li class="menu-text">Filter:</li>
	      <li class="active btn"><a id="all" class="filter">All</a></li>
	      {% for category in entry.featuredMembers %}
	        <li class="btn"><a id="{{ category.categoryName|camel }}" class="filter">{{ category.categoryName }}</a></li>
	      {% endfor %}  
	    </ul>
	  </div>
	</div>
{% endif %}

{# Member Listings #}
<div id="listings" class="row small-up-1 medium-up-2 large-up-4 listings" data-equalizer data-equalize-on="medium" >
  {% for block in entry.featuredMembers %}
    {% for member in block.members %}
      <div class="column column-block listing {{ block.categoryName|camel }}" >
        <div class="media-box" data-equalizer-watch>
          {% set image = member.image.first() %}
          {% if image %}            
            <figure class="member-image">
                <a href="{{ member.listingPageUrl }}">
                  <img src="{{ image.getUrl('thumbnail') }}" alt="{{ image.title }}">
                </a>
            </figure>
          {% endif %}
          <h3 class="p-name member-name">{{ member.title }}</h3>
          {% if member.dates|length %}<p class="dates">{{ member.dates }}</p>{% endif %}

<p><a class="show-for-small-only" data-toggle="{{ member.slug }}">Details</a></p>

<div id="{{ member.slug }}" class="small-toggle" data-toggler="visible" data-animate="fade-in fade-out">
 
          {% if member.address.street1|length or member.address.city|length %}
            <p class="p-adr address">
              <span class="p-street-address">{{ member.address.street1 }}</span><br />
              {% if member.address.street2|length %}
                <span class="p-extended-address">{{ member.address.street2 }}</span><br />
              {% endif %}
              <span class="p-locality">{{ member.address.city }}</span>, <span class="p-region">{{ member.address.state }}</span> <span class="p-postal-code">{{ member.address.zip }}</span>
            </p>
          {% endif %}
          {% for row in member.phone %}
            {% if row.number|length %}
              <p class="phone">{% if row.type|length %}{{ row.type }}: {% endif %}<span itemprop="telephone" class="p-tel">{{ row.number }}</span></p>
            {% endif %}
          {% endfor %}
          {% if member.website|length %}
            <p class="website u-url"><a href="{{ member.website }}">Visit Website</a></p> 
          {% endif %}
          {{ member.blurb|typogrify }}
          <p class="text-center"><a class="small hollow button" href="{{ member.listingPageUrl }}">Learn More</a></p>
</div>

        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>
