/**
 * k4 Clientform plugin for Craft CMS
 *
 * k4 Clientform CSS
 *
 * @author    Thomas Bauer, kreisvier communications ag
 * @copyright Copyright (c) 2016 Thomas Bauer, kreisvier communications ag
 * @link      http://www.kreisvier.ch
 * @package   K4Clientform
 * @since     0.9
 */

.k4Cfrm-wrapper-export{
    border: 1px solid #AFAFAB;
    padding: 10px;
    background: #f7f7f7;
    margin-left: 6px;
    margin-top: 40px;
    width: 400px;
}
