
{% set entryIds = craft.entries.section(block.listing).ids() %}
{% set categories = craft.categories.relatedTo({ sourceElement: entryIds }).groupId(3).find() %}
<hr>
<div class="row filter">
	<div class="small-12 columns">
		<ul class="menu categories">
			<li class="menu-text">Filter:</li>
			<li class="active btn"><a id="all" class="filter">All</a></li>
			{% for category in categories %}
				<li class="btn"><a id="{{ category.slug }}" class="filter">{{ category.title }}</a></li>
			{% endfor %}  
		</ul>
	</div>
</div>


<div id="listings" class="row columns listings" data-equalizer data-equalize-on="small">
	{% for member in craft.entries.section(block.listing) %}
		<div class="float-left small-6 medium-4 listing {% for category in member.category %}{{ category.slug }} {% endfor %}" >
			<div class="media-box" data-equalizer-watch>
				{% set image = member.image.first() %}
				{% if image %}            
					<figure class="member-image">
					    <img src="{{ image.getUrl('thumbnail') }}" alt="{{ image.title }}">
					</figure>
				{% endif %}
				<h3 class="p-name member-name">{{ member.title|typogrify }}</h3>
				<p class="p-adr address">
					<span class="p-street-address">{{ member.address.street1 }}</span><br />
					{% if member.address.street2|length %}
						<span class="p-extended-address">{{ member.address.street2 }}</span><br />
					{% endif %}
					<span class="p-locality">{{ member.address.city }}</span>, <span class="p-region">{{ member.address.state }}</span> <span class="p-postal-code">{{ member.address.zip }}</span>
				</p>
				{% for row in member.phone %}
					<p class="phone">{% if row.type|length %}{{ row.type }}: {% endif %}<span itemprop="telephone" class="p-tel">{{ row.number }}</span></p>
				{% endfor %}
				<p class="website u-url"><a href="{{ member.website }}">Visit Website</a></p> 
	 
				{{ member.blurb|typogrify }}
				<p class="text-center"><a class="small hollow button" href="{{ member.listingPageUrl }}">Learn More</a></p>
			</div>
		</div>
	{% endfor %}
</div>




