
{% set locations = craft.entries.section(block.map) %}

{% set options = {
    height: 771,
    zoom: 10,
    'markerInfo': 'includes/mapBubble',
    infoWindowOptions: {
        maxWidth: 350
    }
} %}

<div class="responsive-embed widescreen mapbox">
	{{ craft.smartMap.map(locations, options) }}

	{# Loop through location entries #}
	{% for entry in locations %}
		{% set category = entry.category.first() %}
	    {% switch category %}
	        {% case 'Spirits' %}
	            {% set icon = 'assets/images/icon-spirits.svg' %}
	        {% case 'Wine' %}
	            {% set icon = 'assets/images/icon-wine.svg' %}
	        {% default %}
	            {% set icon = 'assets/images/icon-beer.svg' %}
	    {% endswitch %}
	    {# JS: Change marker icon #}
	    {% includejs %}
	        var markerId = 'smartmap-mapcanvas-1.{{ entry.id }}.address';
	        smartMap.marker[markerId].setOptions({'icon': '{{ icon }}'});
	    {% endincludejs %}
	{% endfor %}

</div>

