
{% set locations = [] %}

{% for block in entry.pageBuilder.type('listingGroup') %}
	{% for member in block.listing %}
		{% set locations = locations|merge([member])%}
	{% endfor %}
{% endfor %}


{% set options = {
    height: 771,
    zoom: 10,
    'markerInfo': 'includes/mapBubble',
    infoWindowOptions: {
        maxWidth: 350
    }
} %}

<div class="responsive-embed widescreen mapbox">
	{{ craft.smartMap.map(locations, options) }}

	{# Loop through location entries #}
	{% for entry in locations %}
		{% set category = entry.category.level(2).first() %}
	    {% switch category %}
	        {% case 'Spirits' %}
	            {% set icon = 'assets/images/icon-spirits.svg' %}
	        {% case 'Wine' %}
	            {% set icon = 'assets/images/icon-wine.svg' %}
	        {% case 'Beer' %}
	            {% set icon = 'assets/images/icon-beer.svg' %}
	        {% case 'Spooks' %}
	            {% set icon = 'assets/images/spooks-icon-bat.svg' %}
	        {% default %}
	            {% set icon = 'assets/images/icon-marker.svg' %}
	    {% endswitch %}
	    {# JS: Change marker icon #}
	    {% includejs %}
	        var markerId = 'smartmap-mapcanvas-1.{{ entry.id }}.address';
	        smartMap.marker[markerId].setOptions({'icon': '{{ icon }}'});
	    {% endincludejs %}
	{% endfor %}

</div>




