
<!doctype html>
<html class="no-js" lang="en">
  <head>

    <!-- Google -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-24230559-1', 'auto', {'allowLinker': true});
      ga('require', 'linker');
      ga('linker:autoLink', ['www.visitlakecounty.org'] );
      ga('send', 'pageview');
    </script>



    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="home" href="//{{ craft.request.serverName }}{{ craft.request.getPort != 80 ? ':' ~ craft.request.getPort : '' }}">
    
  {# SEO Start #}
  {% if seo is not defined %}
    {% if entry.title is defined %}
      {% set seo = craft.seo.custom(entry.title, '', true) %}
    {% elseif seotitle is defined %}
      {% set seo = craft.seo.custom(seotitle, '', true) %}
    {% else %}
        {% set seo = craft.seo.custom('Visit Lake County', '', false) %}
      {% endif %}
  {% endif %}

  <title>{{ seo.title }}</title>
  <meta name="description" content="{{ seo.description }}" />

  <meta property='og:title' content='{{ seo.title }}' />
  <meta property='og:url' content='{{ craft.request.url }}' />
  <meta property='og:site_name' content='{{ siteName }}' />
  <meta property='og:description' content='{{ seo.description }}' />

  <meta property='twitter:site' content='{# Your Twitter Handle (no @) #}' />
  <meta property='twitter:title' content='{{ seo.title }}' />
  <meta property='twitter:description' content='{{ seo.description }}' />
  <meta property='twitter:url' content='{{ craft.request.url }}' />

  <link rel="home" href="{{ siteUrl }}" />
  <link rel="canonical" href="{{ craft.request.url }}">
  {# SEO End #}

    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/redmond/jquery-ui.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/app.css">
    {% if customCss is defined %}
      {% if entry.customCss == 1 %}
        <link rel="stylesheet" href="/css/{{ entry.slug }}.css">
      {% endif%}
    {% endif %}
    <script src="https://use.fontawesome.com/7b818b571a.js"></script>
  
  </head>
  <body>

<!-- Header -->
    {% if background is not defined %}{% set background = "" %}{% endif %}
    <div class="header"  data-equalizer data-equalize-on="small">
      <div class="expanded row reverse"  {% if background|length %}style="background-image: url({{ background.getUrl('medium') }});{% endif %}">
        <div class="small-3 xlarge-2 columns" data-equalizer-watch>
          <a href="http://visitlakecounty.org"><img class="logo-lc heavyweight large-7 shadow" src="/assets/images/logo-lc.svg" alt="Vsit Lake Conty, Illinois"></a>
        </div>
        
        
        <div class="small-6 xlarge-8 columns text-center" data-equalizer-watch>
          {% if logo is defined %}
            {% if logo|length %}
              <h1><a href="/summer/"><img class="medium-6 large-4 shadow " src="{{ logo.getUrl }}" alt="logo"></a></h1>
            {% endif %}
          {% endif %}
        </div>
        <div class="small-3 xlarge-2 columns text-right" data-equalizer-watch>
          <a class="mmm-burger shadow" data-open="nav"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

<!-- Navigation -->    
    <div class="full reveal reverse" id="nav" data-reveal>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="menu-centered">
        <ul class="vertical menu">
          {% for link in mainNavigation.mainNavigation %} 
            {% set attributes = { target: link.linkUrl.target } %}
            <li>{{ link.linkUrl.htmlLink(attributes) }}</li>
          {% endfor%}
        </ul>
      </div>
    </div>


    {% block content %}
    {% endblock %}


<!-- Footer -->
  <div class="reverse">

    {% block footer %}
    {% endblock %}


<!-- Footer -->
    <div class="row pad-top">
      <div class="small-8 medium-5 large-3 small-centered comlumns">
        <div class="row small-up-5">
          {% for profile in social.social %}
              {% set image = profile.icon.first() %}
              <div class="column column-block">
              <a href="{{ profile.profileUrl }}" title="Visit Lake County on {{ profile.site }}">
                {% if image %}
                  <img class="social" src="{{ image.getUrl }}" alt="{{ profile.site }}">
                {% else %}
                  {{ profile.site }}
                {% endif %}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row columns text-center">
      <p><a href="tel:+18005853669">800-LAKE-NOW</a> | <a href="http://visitlakecounty.org">VisitLakeCounty.org</a></p>
      <p>
        <a href="https://enjoyillinois.com"><img class="il-logo small-3 medium-2 large-1" src="/assets/images/logo-iot.svg" /></a>
        <a href="https://illinois200.com"><img class="bi-logo small-3 medium-2 large-1" src="/assets/images/bi-logo-white.svg" /></a>
      </p>
    </div>
  </div>

    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/bower_components/what-input/dist/what-input.js"></script>
    <script src="/bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="/js/app.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="/js/video.js"></script>
    <script type="text/javascript">
    $(function () {
      $("a.youtube").YouTubePopup({ autoplay: 1, overlayOpacity:.8, clickOutsideClose: true  });
    });
    </script>


  <script>
    var selector = '.categories li.btn';
    $(selector).on('click', function(){
      $(selector).removeClass('active');
      $(this).addClass('active');
    });
  </script>
  <script type='text/javascript'>
    var $btns = $('.filter').click(function() {
      if (this.id == 'all') {
        $('#listings > div').fadeIn(500);
      } else {
        var $el = $('.' + this.id).fadeIn(500);
        $('#listings > div').not($el).fadeOut(500);
      }
      $btns.removeClass('active');
      $(this).addClass('active');
    })
  </script>

  </body>
</html>
