{% if currentUser %}

	{% extends "_layout" %}
	{% block content %}

		<div class="row">
			<div class="medium-7 medium-centered columns pad-both">
				<h1>Visit Lake County Landing Pages</h1>

				<p>Welcome, <b>{{ currentUser.friendlyName }}</b>. Only logged-in CMS users can see this page. all other visitors to {{ craft.request.getUrl() }} will be redirected to <a href="http://www.visitlakecounty.org">VisitLakeCounty.org</a>.<p>
				<ul class="vertical menu">
					{% for entry in craft.entries.section('pages') %}
					    <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>

		{% endblock %}
{% else %}

	   {% redirect "http://visitlakecounty.org" %}

{% endif %}

