/**
 * k4 Clientform plugin for Craft CMS
 *
 * K4Clientform_K4ClientformFieldType CSS
 *
 * @author    Thomas Bauer, kreisvier communications ag
 * @copyright Copyright (c) 2016 Thomas Bauer, kreisvier communications ag
 * @link      http://www.kreisvier.ch
 * @package   K4Clientform
 * @since     0.9
 */

.form-builder .form-actions{
    display: none !important;
}

.form-builder ul.frmb{
    min-height: 50px !important;
    
}

.form-builder .form-group.name-wrap,
.form-builder .form-group.class-wrap,
.form-builder .form-group.className-wrap,
.form-builder .form-group.access-wrap,
.form-builder .form-group.placeholder-wrap,
.form-builder .form-group.maxlength-wrap,
.form-builder .form-group.subtype-wrap,
.form-builder .allow-multi
{
    display: none !important;
}


.form-builder .frmb-control [label="button"]{
    display: none !important;
}.k4Cfrm-wrapper-export{
    border: 1px solid #AFAFAB;
    padding: 10px;
    background: #f7f7f7;
    margin-left: 6px;
    margin-top: 40px;
    width: 400px;
}
